<!DOCTYPE html>
<html>
    <head>
        <title>Flower Shop - About</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='flower.css') }}">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">           
    </head>
    <body>
        <header>
            <h1> About Us</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
        <div class="background-homeimage">
            <div class="home-context">
                <section>
                    <p>Welcome to our flower shop! We are dedicated to providing the most beautiful flowers for all the occasions. </p>
                    <p>Our expert florists carefully craft stunning arrangements that are perfect for weddings, anniversaries, birthdays, and more.<br> </p>
                </section>
            </div>
            <div class="storytable">
                <table border="5">
                    <tr> <th> Our Story </th></tr>
                    <td>
                        <p>Flower Paradise - Spencer St, Paradise continues to be owned and run by Helen ODonnell and her team - John and Alison<br><br>

                            The shop was set up in 1978 giving us over 38 years experience  in retail flowers and wedding flowers.  We have enjoyed every year and each new year brings its own challenges.<br><br>
                            
                            We have always assisted our customers to achieve the best combination of flowers in a modern, traditional or funky design. Following the modern trend for customers to do their own unique designs we have established a new floral sundries section.<br><br>
                            
                            In the wedding flowers business we have concentrated our efforts in a new brand -  www.mariweddingflowers.ie  and over the coming months we will be marketing the wedding flowers business with bridal magazines, wedding services and wedding features.<br><br>
                            
                            In 2011 we established a new side line exporting small grave ornaments/plaques www.graveproductsonline.com and this part of the business continues to expand. </p>
                    </td>
                </table>
            </div>
        </div>
        <footer>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            <p>&copy; 2023 Flower Shop. All rights reserved.</p>
        </footer>
    </body>
</html>