<!DOCTYPE html>
<html>
    <head>
        <title>Flower Products</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='flower.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> 
    </head>
    <body>
        <header>
            <h1>Flower Products</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
        <div class="product-grid">
            <div class="product">
                <img src="static/Daisie.jpg" alt="Product 1">
                <h3>Daisy</h3>
                <p>Daisies are a bright and fun flower. The petals come in a variety of colors, including white, blue, and lavender. Daisies feature a yellow central disc with a long stem. </p>
                <p>Price: $10</p>
                <p>Occasion: Birthday, Weddings</p>
            </div>
            <div class="product">
                <img src="static/Gardenia.jpg" alt="Product 2">
                <h3>Gardenia</h3>
                <p>Notable for their wax-like appearance and oval-shaped leaves, gardenia flowers range from pale yellow to creamy white. Gardenias are also known for their sweet scent. </p>
                <p>Price: $5.00</p>
                <p>Occasion: Anniversary</p>
            </div>
            <div class="product">
                <img src="static/Carnation.jpg" alt="Product 3">
                <h3>Carnation</h3>
                <p>A double layer of petals with crinkly edges are the chief characteristics of carnations. They come in a wide variety of colors and can be dyed to practically any color and shade on earth.</p>
                <p>Price: $6.50</p>
                <p>Occasion: Anniversary, Birthdays</p>
            </div>
            <div class="product">
                <img src="static/Gerbera-Daisie.jpg" alt="Product 4">
                <h3>Galbera Daisy</h3>
                <p>Gerbera daisies are daisy-like flowers that come in bright colors, including pink, red, yellow, orange, and salmon. They have a long vase life and are one of the most used cut flowers in the world.</p>
                <p>Price: $4.50</p>
                <p>Occasion: Anniversary, Parties</p>
            </div>
            <div class="product">
                <img src="static/Orchid.jpg" alt="Product 5">
                <h3>Orchid</h3>
                <p>Orchid flowers include several notable features, including three petals, three sepals, and a single lip that extends, which is known as a labellum. Orchids also have a waxy tube-like structure in the center of the flower called a column.</p>
                <p>Price: $8.40</p>
                <p>Occasion: Birthdays</p>
            </div>
            <div class="product">
                <img src="static/Tulip.jpg" alt="Product 6">
                <h3>Tulips</h3>
                <p>Tulips have ruffled petals with streaks of colors and are available in a variety of colors including pink, red, yellow, orange, purple, and white. There are a wide variety of types of tulips, and they are often cultivated to achieve different characteristics.</p>
                <p>Price: $14.00</p>
                <p>Occasion: Weddings</p>
            </div>
            <div class="product">
                <img src="static/Peonie.jpg" alt="Product 7">
                <h3>Peony</h3>
                <p>Peonies have large, wonderfully fragrant flowers, in colors including everything from purple and pink to darker shades of red. They have a short blooming season, which only lasts about a week or so.</p>
                <p>Price: $4.50</p>
                <p>Occasion: Celebrations</p>
            </div>
            <div class="product">
                <img src="static/Dahlia.jpg" alt="Product 8">
                <h3>Dahlia</h3>
                <p>In a rainbow of colors, dahlia flowers range from two-inch blooms to giant blossoms that measure up to 15 inches. Most types grow four to five feet tall.</p>
                <p>Price: $3.90</p>
                <p>Occasion: Parties</p>
            </div>
            <div class="product">
                <img src="static/Marigold.jpg" alt="Product 9">
                <h3>Marigold</h3>
                <p>Most marigold flowers are yellow to deep orange. They typically feature a cluster of petals closely bunched together that resembles a pompom with dark green foliage.</p>
                <p>Price: $5.00</p>
                <p>Occasion: Happy moments</p>
            </div>
            <div class="product">
                <img src="static/Chrysanthemum.jpg" alt="Product 10">
                <h3>Chrysanthemum</h3>
                <p>Chrysanthemums are staples in fall gardens. They are best known for their bright flowers in every color of the rainbow and a full, dramatic display of blooms in a round semi-circle above the foliage.</p>
                <p>Price: $2.00</p>
                <p>Occasion: Anniversary, Birthdays</p>
            </div>
            <div class="product">
                <img src="static/Rose.jpg" alt="Product 11">
                <h3>Rose</h3>
                <p>Roses are perhaps the most popular cut flower for floral displays. They feature a tight coil of petals that range in color from white to tones of yellow, pink, and dark crimson and have a delightful fragrance.</p>
                <p>Price: $18.00</p>
                <p>Occasion: Anniversary, Weddings, Birthdays</p>
            </div>
            <div class="product">
                <img src="static/Lavendar.jpg" alt="Product 12">
                <h3>Lavender</h3>
                <p>Lavender is known for its fragrance, medicinal properties, and beautiful bluish-purple color. it blooms in the summer months and is a favorite of bees and butterflies.</p>
                <p>Price: $6.80</p>
                <p>Occasion: Anniversary</p>
            </div>
            <div class="product">
                <img src="static/Daffodil.jpg" alt="Product 13">
                <h3>Daffodil</h3>
                <p>Bright and fragrant flowers, daffodils bloom early in the spring. The blossoms feature six petals and a trumpet in the middle and are typically a combination of bright yellow and white.</p>
                <p>Price: $12.90</p>
                <p>Occasion: Anniversary, happy moments</p>
            </div>
        </div>
        <footer>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <p>&copy; 2023 Flower Website. All rights reserved.</p>
        </footer>
    </body>
</html>